<div class="row">
  <div class="col-md-5 col-sm-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn" type="button"><i class="fa-solid fa-magnifying-glass"></i> </button>
      </div>
      <input type="text" class="form-control" placeholder="Search Any Thing" aria-label=""
        aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-md-7 col-sm-6  d-flex justify-content-end">
    <button class="btn btn-danger mx-3">Delete Selected</button>
    <button class="btn btn-success" (click)="add()">Add New Category</button>
  </div>
</div>
