<div class="container my-4">
    <div class="row bg-dark d-flex text-light justify-content-center align-items-center">
            Category Management
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <app-language-selector></app-language-selector>
        </div>
    </div>

    <div class="row">
        <div class="header">
           <strong> Categories Management </strong>
        </div>
        <div class="category-bar">
            <!-- <router-outlet></router-outlet> -->
            <app-page-bar></app-page-bar>
        </div>
    </div>

    <div class="row">
        <app-crud-functions></app-crud-functions>
    </div>

    <div class="row">
        <app-table></app-table>
    </div>
</div>